{% extends 'layout.twig' %}
{% block content %}
    <div class="form-group">
        <textarea id="query-box" class="form-control" rows="5"></textarea>
    </div>
    <div class="form-group">
        <button type="button" id="exec" class="btn btn-primary">Execute Query</button>
    </div>
    <div id="table-container">
    </div>
{% endblock %}