<script id="queryForm-template" type="text/x-handlebars-template">
    <div id="right_top">
        <form action="#" id="query_form">
            <div class="form-group">
                <textarea class="form-control" rows=3 id="query_box"></textarea>
            </div>
            <button class="btn btn-primary col-md-1 col-md-offset-11" id="execQueryButton">Execute Query</button>
        </form>
    </div>
    <div id="right_bottom">

    </div>
</script>
