<script id="queryForm-template" type="text/x-handlebars-template">
    <form action="#" id="query_form">
        <div class="form-group">
            <textarea class="form-control" rows=3></textarea>
        </div>
        <button class="btn btn-primary col-md-1 col-md-offset-11">Execute Query</button>
    </form>
</script>
