<script id="viewlist-template" type="text/x-handlebars-template">
    <form class="form-inline" id="filter_form">
        <div class="form-group">
            <input type="text" class="form-control" id="viewNameField">
        </div>
        <button type="button" class="btn btn-primary">Filter</button>
    </form>
    <ul>
        {{#each views}}
            <li>
                {{VIEW_NAME}}
            </li>
        {{/each}}
    </ul>
</script>
