<form action="/execute" method="POST">
    <div class="form-group">
        <textarea id="query-box" class="form-control" rows="5" name="query">{{ query }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" id="exec" class="btn btn-primary">Execute Query</button>
    </div>
</form>